#header {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
    margin-top: 0;
}

#beer-link :hover {
    background-color: blue;
}

#beer-button :hover {
    background-color: blue;
}