#header {
    font-size: 4.2rem;
    line-height: 110%;
    margin-top: 0px;
    padding-top: 20px;
}

#beer-link :hover {
    background-color: #bf360c;
}

#beer-button :hover {
    background-color: #bf360c;
}

#beer :hover {
    color: #bf360c;
}